<h2 class="mb-4">Контакты</h2>
<div class="d-flex">
    <div class="col-6">
        <div class="card" style="max-width: 500px;">
            <div class="card-header">
                <h5 class="mb-0">Вход в аккаунт</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="name@example.com">
                        <div class="form-text">Мы не передаём ваш email третьим лицам.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Пароль</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Запомнить меня</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Войти</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h3>Наши контакты</h3>
        <p>Текст Текст Текст</p>
    </div>
</div>