<h2 class="mb-4">Главная</h2>
<p class="mb-4">Вы находитесь на сайте, предназначенном для продажи товаров.</p>

<div class="row g-3">
    <div class="col-md-4">
        <div class="card text-bg-light">
            <div class="card-header">Товар 1</div>
            <div class="card-body">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">10 users included, 2Gb storage, Email support, Help center access.</p>
                <a href="#" class="btn btn-primary">Купить</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-bg-light">
            <div class="card-header">Товар 1</div>
            <div class="card-body">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">10 users included, 2Gb storage, Email support, Help center access.</p>
                <a href="#" class="btn btn-primary">Купить</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-bg-light">
            <div class="card-header">Товар 1</div>
            <div class="card-body">
                <h5 class="card-title">$ 100</h5>
                <p class="card-text">10 users included, 2Gb storage, Email support, Help center access.</p>
                <a href="#" class="btn btn-primary">Купить</a>
            </div>
        </div>
    </div>
</div>