<nav class="navbar navbar-dark flex-column align-items-start">

    <a class="navbar-brand" href="#">
        <i class="bi bi-xbox me-2"></i>Меню
    </a>

    <hr class="border-secondary w-100 my-3">

    <ul class="navbar-nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="bi bi-house me-2"></i>Главная
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/categories">
                <i class="bi bi-speedometer2 me-2"></i>Категории
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/orders">
                <i class="bi bi-table me-2"></i>Заказы
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contacts">
                <i class="bi bi-person-circle me-2"></i>Контакты
            </a>
        </li>
    </ul>
</nav>